LLMLAB_URL=https://llm.lab.sspcloud.fr/api
LLMLAB_API_KEY=
MLFLOW_TRACKING_URI=https://projet-ape-mlflow.user.lab.sspcloud.fr/
MLFLOW_TRACKING_PASSWORD=
QDRANT_URL=https://projet-ape-qdrant.user.lab.sspcloud.fr/
QDRANT_API_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://langfuse.lab.sspcloud.fr
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=us-east-1
AWS_S3_ENDPOINT=minio.lab.sspcloud.fr
